Flask==1.1.1
flask-oidc==1.4.0
google-api-python-client==1.7.11
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.19.0
requests==2.22.0
urllib3==1.25.3

git+https://github.com/Ryan-Moehrke/client-py-ExceptionFix.git@ExceptionFix#egg=fhirclient